.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #2D4059;
    color: #FFD460;
    .Header{
        font-weight: bold;
    }
    .Footer{
        margin-top: 100px;
    }
}